.btn-main,
.button-primary,
input.form-submit,
a.button {
	background: transparent;
	color: $british_gold;
	padding: 16px 35px;
	border-radius: 30px;
	text-transform: uppercase;
	transition: color 0.3s, background 0.3s;
	box-shadow: none;
	border: 1px solid $british_gold;

	&:hover {
		background: $british_gold;
		color: $british_gray_dark;
	}

	&.active {
		background: $british_gold;
		color: $british_gray_dark;
		box-shadow: none;
	}

	&._dark-color {
		color: $british_gray_dark;

		&:hover {
			color: $british_gray_dark;
		}
	}


	@media (max-width: $screen-xs-max) {
		padding: 12px 19px;
	}
}


input[type="submit"]:link,
input[type="submit"]:visited,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active,
a.button:link,
a.button:visited,
a.button:hover,
a.button:focus,
a.button:active {
	text-decoration: none !important;
	color: $british_gray_dark !important;
	background: $british_gold none repeat scroll 0 0 !important;
}


input.form-submit,
a.button {
	background: $british_gold;
	color: $british_gray_dark;

	&:hover {
		background: #ffffff !important;
		color: $british_gray_dark !important;
	}

}