.btn-main,
.button-primary {
	background: transparent;
	color: $british_gold;
	padding: 16px 35px;
	border-color: $british_gold;
	border-radius: 30px;
	text-transform: uppercase;
	transition: color 0.3s, background 0.3s;
	box-shadow: none;

	&:hover {
		background: $british_gold;
		color: #333333;
	}

	&.active {
		background: $british_gold;
		color: #333333;
		box-shadow: none;
	}

	&._dark-color {
		color: #333333;

		&:hover {
			color: #000000;
		}
	}


	@media (max-width: $screen-xs-max) {
		padding: 12px 19px;
	}
}