.count-block {
	background: url('../images/count-block-bg.jpg') transparent no-repeat 50% 50% fixed ;
	background-size: cover;
	position: relative;
	padding-top: 112px;
	padding-bottom: 114px;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 36, 125, .8);
	}

	img {
		width: 152px;
	}

	&-element {
		position: relative;
		text-align: center;
	}

	&-number {
		padding-top: 22px;
		span {
			color: #ffffff;
			font-family: 'PT Serif', serif;
			font-size: 48px;
			letter-spacing: 1px;
			position: relative;

			&:before,
			&:after {
				content: '';
				width: 41px;
				height: 1px;
				background: $british_gold;
				position: absolute;
				top: 50%;
			}

			&:before {
				left: -18px;
				transform: translateX(-100%);
			}
			&:after {
				left: auto;
				right: -18px;
				transform: translateX(100%);
			}

		}
	}

	&-title {
		color: $british_gold;
		font-family: 'PT Serif', serif;
		font-size: 20px;
		line-height: 26px;
		padding-top: 6px;
	}



	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		padding-top: 50px;
		padding-bottom: 50px;

		&-element {
			&:nth-of-type(1),
			&:nth-of-type(2) {
				padding-bottom: 50px;
			}
		}
	}



	@media (max-width: $screen-xs-max) {
		padding-top: 50px;
		padding-bottom: 50px;

		img {
			width: 80px;
		}

		&-number {
			padding-top: 12px;
			span {
				font-size: 36px;
				&:before,
				&:after {
					width: 25px;
				}
				&:before {
					left: -9px;
				}
				&:after {
					right: -9px;
				}
			}
		}

		&-element {
			padding-bottom: 50px;

			&:nth-child(3),
			&:nth-child(4) {
				padding-bottom: 0;
			}
		}

		&-title {
			font-size: 18px;
			padding-top: 0;
		}
	}

}