.count-block {
	background: url('../images/count-block-bg.jpg') transparent no-repeat 50% 50% fixed ;
	background-size: cover;
	position: relative;
	padding-top: 112px;
	padding-bottom: 114px;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 36, 125, .8);
	}

	img {
		width: 152px;
	}

	&-element {
		position: relative;
		text-align: center;
	}

	&-number {
		padding-top: 22px;
		span {
			color: #ffffff;
			font-family: 'PT Serif', serif;
			font-size: 48px;
			letter-spacing: 1px;
			position: relative;

			&:before,
			&:after {
				content: '';
				width: 41px;
				height: 1px;
				background: $british_gold;
				position: absolute;
				top: 50%;
			}

			&:before {
				left: -18px;
				transform: translateX(-100%);
			}
			&:after {
				left: auto;
				right: -18px;
				transform: translateX(100%);
			}

		}
	}

	&-title {
		color: $british_gold;
		font-family: 'PT Serif', serif;
		font-size: 20px;
		line-height: 26px;
		padding-top: 6px;
	}



	@media (max-width: $screen-sm-max) {
		display: none;
	}

}