// text
#block-block-9,
#block-block-22 {
	text-align: center;
	padding-top: 70px;
	padding-bottom: 56px;
	h2 {
		margin: 0;
		padding: 0;
		padding-bottom: 9px;
		&:after {
			content: none;
		}
	}
	p {
		font-family: 'PT Serif', serif;
		font-size: 18px;
		line-height: 36px;
		position: relative;
		letter-spacing: 0.6px;
		display: inline-block;
		padding-bottom: 18px;

		&:after {
			content: '';
			width: 200px;
			max-width: 100%;
			height: 1px;
			background: $british_gold;
			position: absolute;
			bottom: -20px;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	@media (max-width: $screen-sm-max) {
		display: none;
	}
}

// map and form
#block-block-10,
#colorbox,
#node-114 {
	.feedback-form-wrapper {
		display: flex;
		flex-wrap: wrap;
		&:before,
		&:after {
			content: none;
		}
	}
	.map-wrapper,
	.form-wrapper {
		padding: 0;
	}
	.map-wrapper {
		padding-right: 1px;
	}

	.form-wrapper {
		background: url("../images/feedback-bg.jpg") transparent no-repeat fixed 50% 50%;
		background-size: cover;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(0, 36, 125, .8);
		}

		h2 {
			display: none;
		}

		input[type="text"],
		textarea {
			background: rgba(0, 0, 0, .3);
			color: #ffffff
		}


		.content {
			position: relative;
			margin: 0 0 0 auto;
			width: 100%;

			@media (min-width: $screen-lg-min) {
				width: $screen-lg/2;
			}

			@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
				width: $screen-md/2;
			}

		}


	}

	@media (max-width: $screen-sm-max) {
		.form-wrapper {
			h2 {
				color: #ffffff;
				display: block;
				margin: 0;
				text-align: center;
				padding: 42px 0 0;

				&:after {
					content: none;
				}
			}

			#webform-client-form-114 {
				margin: 0 auto;
				padding-top: 25px;
				padding-bottom: 51px;

				input[type=text],
				textarea {
					padding-left: 12px;
				}
			}
		}
	}

	#british_map {
		min-height: 400px;
	}
}

#colorbox {
	form {
		padding: 20px 0 0;
		margin: 0 auto;

		input[type=text],
		textarea {
			color: #777777;
			background: rgba(0, 0, 0, .05);

		}
	}
	.form-actions {
		text-align: center;
	}
}