.footer {
	background: #353334;

	&-nav {

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			padding-top: 30px;
		}

		@media (max-width: $screen-xs-max) {
			text-align: center;
			display: block;
		}

		li {
			padding-bottom: 18px;
			width: 185px;
			flex-grow: 1;

			&:last-child {
				padding-bottom: 0;
			}

			@media (max-width: $screen-xs-max) {
				width: 100%;
			}
		}

		a {
			color: $british_gold;
			font-size: 12px;
			text-transform: uppercase;
			display: inline-block;

			@media (max-width: $screen-xs-max) {
				width: auto;
			}
		}
	}

	&-logo {
		&_wrapper {
			display: flex;
			@media (max-width: $screen-xs-max) {
				order: 1;
				padding-top: 25px;
			}
		}

		img {
			width: 90px;
			height: auto;
			position: absolute;
			left: 0;
		}

		&-link {
			position: relative;
			padding-left: 110px;
			display: inline-block;
			height: 90px;

			&:hover {
				text-decoration: none;
			}
		}

		span {
			color: $british_gold;
			font-size: 18px;
			line-height: 22px;
			font-weight: bold;
			padding-top: 14px;
			width: 200px;
			display: inline-block;
			text-transform: uppercase;
		}
	}

	&-social {
		margin-left: 30px;
		align-self: center;

		a {
			display: inline-block;
			width: 25px;
			height: 25px;
			margin-right: -4px;
			margin-left: 10px;

			@media (max-width: $screen-xs-max) {
				margin-right: 0;
			}


			&:first-child {
				margin-left: 0;
			}

			&:hover {
				text-decoration: none;
			}
		}

		@media (max-width: $screen-xs-max) {
			text-align: center;
			margin-left: 0;
			width: 100%;
		}
	}


	&-info {
		border-bottom: 1px solid rgba(245, 205, 140, .3);
		padding: 70px 0;

		@media (max-width: $screen-xs-max) {
			padding: 50px 0;
			display: flex;
			flex-direction: column;
		}

	}


	&-contacts {
		color: #ffffff;
		padding: 40px 0;

		&_address {
			@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
				font-size: 13px;
			}
		}

		&_name {
			color: $british_gray;
		}

		&_phone {
			text-align: right;
			a {
				color: #ffffff;
			}

			span {
				color: $british_gold;
			}
		}

		@media (max-width: $screen-xs-max) {
			display: flex;
			flex-direction: column;

			&_address,
			&_name,
			&_phone {
				text-align: center;
				margin: 10px 0;
			}

			&_name {
				order: 1;
			}

		}

	}

}