header {
	width: 100%;
	height: 796px;
	position: relative;

	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		height: 500px;
	}

	@media (max-width: $screen-xs-max) {
		height: 420px;
	}

	//swiper start
	.swiper-container {
		width: 100%;
		height: 100%;

		.swiper-button-prev,
		.swiper-button-next {
			opacity: .5;
		}


		.swiper-pagination-bullets {
			.swiper-pagination-bullet {
				background: #ffffff;
				&-active {
					background: $british_gold;
				}
			}
		}

		// slide inside

		.swiper-slide {
			background-position: center;
			background-size: cover;
			position: relative;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: rgba(0, 0, 0, .5);
			}

			&_info {
				position: absolute;
				height: 453px;
				bottom: 0;
				transform: translateX(-50%);
				margin-left: 50%;

				@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
					height: 400px;
				}

				@media (max-width: $screen-xs-max) {
					height: 335px;
				}
			}

			&_date {
				&-wrapper {
					text-align: right;
					position: relative;
				}
				&-shape {
					background: $british_gold;
					color: $british_gold;
					position: absolute;
					transform: skew(-30deg);
				}

				&-shape,
				&-text {
					display: inline-block;
					padding: 7px 20px;
				}

				&-text {
					color: #313332;
					position: relative;
				}

			}

			&_title {
				h2 {
					color: #ffffff;
					text-transform: uppercase;
					font-size: 60px;
					text-align: center;
					padding-top: 7px;

					.swiper-slide_title-extra {
						display: block;
						font-size: 44px;
						color: $british_gold;
						text-transform: none;
						padding-top: 10px;
					}

					@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
						font-size: 50px;
						.swiper-slide_title-extra {
							font-size: 34px;
						}
					}

					@media (max-width: $screen-xs-max) {
						font-size: 30px;
						padding-top: 42px;
						.swiper-slide_title-extra {
							font-size: 18px;
							padding-top: 8px;
						}
					}

				}
			}

			&_button {
				background: rgba(0, 0, 0, .6);
				padding: 16px 35px;
				&-wrapper {
					text-align: center;
					padding-top: 46px;

					@media (max-width: $screen-xs-max) {
						padding-top: 31px;
					}
				}
			}
		}

		// slide inside end

	}

	@media (min-width: $screen-md-min) {
		.swiper-container {

			.swiper-button-prev {
				background-image: url(../images/slider-arrow-left.png);
				left: 30px;
				right: auto;
			}
			.swiper-button-next {
				background-image: url(../images/slider-arrow-right.png);
				right: 30px;
				left: auto;
			}

			.swiper-button-prev,
			.swiper-button-next {
				width: 100px;
				height: 100px;
				display: block;
				background-size: contain;
				transition: opacity .3s;

				bottom: 240px;
				top: auto;

				&:hover {
					opacity: 1;
				}
			}
		}
	}
	// swiper end
}