.media-block {
	height: 480px;

	&_img {
		height: 480px;
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
	}

	&_content {
		padding-top: 50px;
	}

	&_title {
		padding-bottom: 15px;
		font-size: 32px;
		line-height: 36px;
	}

	&_text {
		height: 175px;
		margin-bottom: 40px;
		overflow: auto;
	}

	&_buttons {
		.lang-block {
			display: inline-block;
			margin-left: 6px;
		}
	}

	@media (max-width: $screen-xs-max) {

		&_img {
			height: 220px;
			order: -1;
		}

		&_content {
			padding-top: 32px;
		}

		&_title {
			padding-bottom: 15px;
			font-size: 20px;
			line-height: 24px;
		}

		&_text {
			height: auto;
			font-size: 13px;
			line-height: 24px;
			margin-bottom: 22px;
		}

		display: flex;
		flex-direction: column;
		height: auto;
		margin-bottom: 60px;
		//&:last-of-type {
		//	margin-bottom: 0;
		//}
	}



	&_full-width {

		.media-block_content {
			box-sizing: border-box;

			@media (min-width: $screen-lg-min) {
				width: $screen-lg/2;
			}

			@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
				width: $screen-md/2;
			}

			@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
				width: $screen-sm/2;
			}

			@media (max-width: $screen-xs-max) {
				width: 100%;
			}

		}
	}

}