.media-block {
	$blockHeight: 480px;
	height: $blockHeight;
	display: flex;

	&:nth-child(even) {
		.media-block_img {
			order: 1;
		}
	}

	&_img {
		height: $blockHeight;
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
	}

	&_content {
		padding-top: 50px;
	}

	&_title {
		padding-bottom: 15px;
		font-size: 32px;
		line-height: 36px;
	}

	&_text {
		height: 175px;
		margin-bottom: 40px;
		overflow: auto;
	}

	&_buttons {
		.lang-block {
			display: inline-block;
			margin-left: 6px;
		}
	}

	@media (min-width: $screen-md-min) {

		$blochSidePadding: 60px;
		&_text {
			padding-left: $blochSidePadding;
			padding-right: $blochSidePadding;
		}

		&_title {
			padding-left: $blochSidePadding;
			padding-right: $blochSidePadding;
		}

		&_buttons {
			padding-left: $blochSidePadding;
			padding-right: $blochSidePadding;
		}
	}

	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		$blockHeight: 400px;
		$blochSidePadding: 30px;

		height: $blockHeight;

		&_img {
			height: $blockHeight;
		}

		&_text {
			height: 155px;
			margin-bottom: 20px;
			padding-left: $blochSidePadding;
			padding-right: $blochSidePadding;
		}

		&_title {
			padding-left: $blochSidePadding;
			padding-right: $blochSidePadding;
		}

		&_buttons {
			padding-left: $blochSidePadding;
			padding-right: $blochSidePadding;
		}

	}




	@media (max-width: $screen-xs-max) {

		&:nth-child(even),
		&:nth-child(even) {
			.media-block_img {
				order: -1;
			}
		}

		&_img {
			height: 220px;
		}

		&_content {
			padding-top: 32px;
		}

		&_title {
			padding-bottom: 15px;
			font-size: 20px;
			line-height: 24px;
		}

		&_text {
			height: auto;
			font-size: 13px;
			line-height: 24px;
			margin-bottom: 22px;
		}

		display: flex;
		flex-direction: column;
		height: auto;
		margin-bottom: 60px;
	}



	&_full-width {

		.media-block_title,
		.media-block_text,
		.media-block_buttons {
			box-sizing: border-box;

			$deltaWidth: 30px;

			@media (min-width: $screen-lg-min) {
				width: $screen-lg/2 - $deltaWidth;
			}

			@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
				width: $screen-md/2 - $deltaWidth;
			}

			@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
				width: $screen-sm/2 - $deltaWidth;
			}

			@media (max-width: $screen-xs-max) {
				width: 100%;
			}

		}

		&:nth-child(even) {
			.media-block_title,
			.media-block_text,
			.media-block_buttons {
				margin-right: 0;
				margin-left: auto;
				box-sizing: border-box;

			}
		}

	}

}