.node-news {
	.field-type-datetime,
	.field-name-field-news-category {
		font-size: 18px;
		line-height: 36px;
		color: #cccccc;
		font-family: 'PT Serif', serif;
		float: left;
		margin-bottom: 15px;
	}

	.field-type-datetime {
		padding-right: 25px;
	}

	.field-name-field-news-category {
		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}

	.field-type-image {
		margin-bottom: 45px;
		img {
			width: 100%;
			height: auto;
		}
	}

	.field-type-text-with-summary {
		p {
			text-align: justify !important;
		}
	}

	.link-wrapper {
		display: none;
	}
}