#block-views-news-block-block {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 90px;

	h2 {
		display: inline-block;

		&:after {
			bottom: -40px;
			left: 50%;
			-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
		}
	}

	@media (max-width: $screen-xs-max) {
		padding-top: 26px;
		padding-bottom: 60px;

		h2 {
			&:after {
				width: 100px;
				bottom: -26px;
			}
		}

	}
}

.view-id-news_block {
	text-align: center;

	> .view-content {
		display: flex;
		display: -webkit-flex;
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;

		&:before,
		&:after {
			content: none;
		}
	}

	h2 {
		display: inline-block;
	}

	.news-block-element {
		padding-top: 20px;
		padding-bottom: 20px;
		margin-top: 10px;
		margin-bottom: 10px;

		&:before,
		&:after {
			content: '';
			display: table;
		}
		&:after {
			clear: both;
		}

		.views-field-field-cover {
			img {
				width: 100% !important;
				height: auto !important;
			}
		}

		&:hover {
			box-shadow: 0 0 15px 2px #eeeeee;
		}

	}

	.views-field-title {
		text-align: left;
		margin: 31px 0 11px 0;

		a {
			font-family: 'PT Serif', serif;
			font-size: 24px;
			line-height: 1.5;
			color: $british_gray_dark;
			text-decoration: none;
			&:hover {
				color: $british_gold;
			}
		}
	}

	.views-field-field-teaser {
		text-align: left;
		color: #555555;
		margin-bottom: 22px;
		font-family: 'Open Sans', sans-serif;
		font-size: 15px;
		line-height: 1.7;

		@media (max-width: $screen-xs-max) {
			font-size: 13px;
			line-height: 1.9;
		}
	}

	.views-field-field-date {
		float: left;
		padding-right: 25px;
		color: #c6c6c6;
	}

	.views-field-field-date {
		font-family: 'Open Sans', sans-serif;
		font-size: 11px;
	}

	@media (max-width: $screen-xs-max) {
		.views-field-title {
			margin-top: 20px;
			margin-bottom: 4px;

			a {
				font-size: 18px;
				line-height: 26px;
			}
		}

		.views-field-field-teaser {
			font-size: 13px;
			line-height: 1.9;
			margin-bottom: 10px;
		}

		.news-block-element {
			margin-top: 8px;
			&:first-of-type {
				margin-top: 30px;
			}
			&:last-of-type {
				margin-bottom: 33px;
			}
		}
	}
}

.comments {
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
	float: left;
	padding: 1px 8px;
	border-radius: 2px;
	border: 1px solid $british_gold;
	position: relative;
	margin-top: -2px;

	&:after,
	&:before {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		bottom: 0;
		left: 50%;
		-webkit-transform: translateX(-50%) translateY(100%);
		transform: translateX(-50%) translateY(100%);
	}
	&:after {
		border-top: 6px solid $british_gold;
		border-right: 10px solid transparent;
	}
	&:before {
		border-top: 4px solid #ffffff;
		border-right: 8px solid transparent;
		z-index: 5;
	}
}

#block-block-23 {
	overflow: hidden;
	padding: 30px 0;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	margin-top: 20px;

	.content {
		display: flex;
		display: -webkit-flex;
		align-items: baseline;
		-webkit-align-items: baseline;
	}

	p {
		float: left;
		margin: 0;
		margin-right: 22px;
	}

	.comments {
		margin-top: 0;
	}
}

#colorbox {
	h2 {
		margin-top: 5px;
		margin-bottom: 5px;
		text-align: center;

		&:after {
			content: none;
		}
	}
}