.view-id-gallery {

	> .view-content {
		display: flex;
		display: -webkit-flex;
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		&:before,
		&:after {
			content: none;
		}
	}

	.views-row {
		margin-bottom: 43px;
		.view-gallery-wrapper {
			position: relative;
			box-shadow: 2px 2px 20px 1px #eeeeee;

			&:hover {
				box-shadow: 2px 2px 20px 1px #aaaaaa;

				.views-field-field-cover {
					a {
						img {
							-webkit-backface-visibility: hidden;
							-webkit-transform: translateZ(0) scale(1.1, 1.1);
							transform: translateZ(0) scale(1.1, 1.1);
						}
					}
				}
			}
		}
	}

	.views-field-field-cover {
		a {
			$imageHeight: 227px;

			display: block;
			height: $imageHeight;
			overflow: hidden;
			position: relative;

			img {
				width: 100%;
				height: $imageHeight;
				transition: all 1.2s ease-in-out;
			}

			&:after {
				background: url(../images/arrow_photo_bottom.png) no-repeat 50% 0 transparent;
				bottom: 0;
				content: "";
				display: block;
				height: 8px;
				position: absolute;
				width: 100%;
			}
		}
	}

	.views-field-title {
		text-align: center;
		padding-top: 8px;
		a {
			color: #444444;
			font-size: 18px;
			line-height: 28px;
			font-family: 'PT Serif', serif;
			letter-spacing: 0.5px;
			text-decoration: none;

			&:hover {
				color: $british_gold;
				text-decoration: none;
			}

		}
	}

	.views-field-field-gallery-category {
		text-align: center;
		font-size: 11px;
		color: #cccccc;
		font-family: "Open Sans", sans-serif;
		padding-bottom: 23px;
	}

	.views-field-field-gallery-county {
		position: absolute;
		top: 10px;
		right: 10px;
		background: rgba(255, 255, 255, 0.5);
		color: #333333;
		font-size: 11px;
		line-height: 25px;
		font-family: "Open Sans", sans-serif;
		height: 25px;
		width: 25px;
		border-radius: 50%;
		text-align: center;
	}
}

@media (max-width: $screen-xs-max) {
	.view-id-gallery {

		.views-field-field-cover {
			a {
				height: auto;

				img {
					height: auto;
				}
			}
		}
	}
}




.node-gallery {
	> div {
		&:first-child {
			height: 50px;
			background: #ffffff;
			line-height: 50px;
			color: $british_gray_dark;
			font-size: 20px;
			font-family: "PT Serif", serif;
			// mansory max width
			max-width: 1054px;
			margin: 0 auto;

			a {
				padding: 0 30px 0 50px;
				font-family: 'Roboto', sans-serif;
				font-size: 14px;
				text-transform: uppercase;
				letter-spacing: .5px;
				background: url('../images/breadcrumb.png') #00247d no-repeat 25px 50%;
				color: #ffffff;
				margin-right: 23px;
				display: inline-block;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	.field-items {
		margin: 0 auto;
		display: flex;
		display: -webkit-flex;
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
	}
	.field-item {
		width: 350px;
		max-width: 100%;
		img {
			width: 100%;
			box-sizing: border-box;
			padding: 1px 0;
			height: auto;
		}
	}

	.field-type-image {
		.field-item {
			position: relative;
			cursor: pointer;

			a {
				display: block;
				position: relative;
				z-index: 2;
				overflow: hidden;
				img {
					transition: all 1.2s ease-in-out;
				}

				&:hover {
					img {
						-webkit-backface-visibility: hidden;
						-webkit-transform: translateZ(0) scale(1.1, 1.1);
						transform: translateZ(0) scale(1.1, 1.1);
					}
				}
			}

			a[id^="youtube-field-player"] {
				&:after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background: url('../images/video-overlay-play.png') rgba(0, 36, 125, 0.7) no-repeat 50% 50%;
				}
			}
		}
	}

}

.field-name-field-gallery-category {
	.field-items {
		margin: 0;
	}
}