.sidebar {
	padding-bottom: 80px;

	&-title {
		font-family: 'PT Serif', serif;
		color: #cccccc;
		font-size: 18px;
		line-height: 42px;
		margin-top: 30px;
	}

	.view-content,
	&-nav.nav {
		font-family: 'Open Sans', sans-serif;
		font-size: 11px;
		line-height: 36px;

		> div,
		> li {
			a {
				color: $british_gray_dark;
				text-transform: uppercase;
				text-decoration: none;
				border-bottom: 1px solid #dddddd;
				border-radius: 0;
				padding: 17px 10px 5px 0;
				display: block;

				&.active {
					border-bottom: 1px solid $british_gray_dark;
				}

				&:hover,
				&:active,
				&:focus {
					background: transparent;
					border-bottom: 1px solid $british_gray_dark;

				}
			}

			margin: 0;

			+ div,
			+ li {
				margin: 0;
			}
		}

	}


	&.sidebar-horizontal {
		padding-bottom: 45px;

		.view-content,
		.sidebar-nav.nav {
			text-align: center;
			border-bottom: 1px solid #dddddd;

			> div,
			> li {
				display: inline-block;
				width: auto;
				margin-left: -4px;
				margin-bottom: -1px;

				&:first-child {
					margin-left: 0;
				}

				a {
					padding: 5px 15px 8px 15px;
					border-bottom-color: transparent;
					position: relative;
					&.active {
						border-bottom-color: $british_gray_dark;
					}

					&:hover,
					&:active,
					&:focus {
						border-bottom-color: $british_gray_dark;
					}
				}
			}

		}
	}
}

@media (max-width: $screen-xs-max) {
	.sidebar {
		&.sidebar-horizontal {

			.view-content,
			.sidebar-nav.nav {
				overflow-x: auto;
				overflow-y: hidden;
				height: 50px;
				white-space: nowrap;
			}
		}
	}

}