.sidebar {
	padding-bottom: 80px;

	&-title {
		font-family: 'PT Serif', serif;
		color: #cccccc;
		font-size: 18px;
		line-height: 42px;
		margin-top: 30px;
	}

	&-nav.nav {
		font-family: 'Open Sans', sans-serif;
		font-size: 11px;
		line-height: 36px;

		> li {
			a {
				color: $british_gray_dark;
				text-transform: uppercase;
				text-decoration: none;
				border-bottom: 1px solid #dddddd;
				border-radius: 0;
				padding: 17px 10px 5px 0;

				&.active {
					border-bottom: 1px solid $british_gray_dark;
				}

				&:hover,
				&:active,
				&:focus {
					background: transparent;
					border-bottom: 1px solid $british_gray_dark;

				}
			}

			margin: 0;

			+ li {
				margin: 0;
			}
		}

	}
}